html, body, #map_canvas { margin: 0; padding: 0; height: 100%; }

#map_control {
	margin-bottom: 10px;
	margin-left:20px;
}
#show_control {
	text-align:center
}
#device, #server, #markerStyleOption {
	margin-right: 5px
}
#infoWindow {
	width: 145px;
	font-size: 10px; 
	line-height: 50%
}
