html, body, #map_canvas { 
	margin: 0;
	padding: 0; 
	height: 100%; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}
#map_control {
	margin: 0 20px 10px 20px
}
#show_control {
	position: relative;
	text-align: center
}
#device, #server, #markerStyleOption {
	margin-right: 5px
}
#infoWindow {
	width: 145px;
	font-size: 10px; 
	line-height: 50%
}
#datetimepicker {
	margin: 0 0 0 10px
}
#setMarkers {
	margin-right: 10px
}
