html, body, #map_canvas { 
	margin: 0;
	padding: 0; 
	height: 100%; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	overflow: hidden
}
#map_control {
	margin: 0 20px 10px 20px
}
#show_control {
	position: relative;
	text-align: center
}
#device, #server, #markerStyleOption, #interval, #frequency {
	margin-right: 5px
}
#infoWindow {
	width: 145px;
	font-size: 10px; 
	line-height: 50%;
	margin: 3px 0 -6px 3px
}
#datetimepicker {
	margin: 0 0 0 10px
}
#setMarkers {
	margin-right: 10px
}
#info {
	padding: 8px 14px 8px 14px
}
#showtime {
	float: right
}
#fancybox-button {
	float: right
}