<!DOCTYPE html>
<html>
	<head>
		<title>SwingMap | clientGPS</title>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="icon" type="image/png" href="<?php echo HOST;?>/view/img/favicon.png"/>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
		<style>
			body {
				margin: 0 10px 0 10px
			}
			#page, #refresh, .btn-group {
				margin: 10px 10px 10px 0
			}
			.table tbody > tr > td{
				padding: 0 8px 0 8px
			}
			#submit {
				margin-left: 10px
			}
		</style>
	</head>
	<body>
		<h3><p class="text-warning">client_coordinate editable</p></h3>
		
		<span>Page: </span><span class="badge" id="page"><?php echo ($page+1)."/".$totalPage; ?></span>
		
		<div class="btn-group">
			<button id="first" class="btn btn-primary btn-small" type="button"><<</button>
			<button id="pre" class="btn btn-primary btn-small" type="button"><</button>
			<button id="next" class="btn btn-primary btn-small" type="button">></button>
			<button id="last" class="btn btn-primary btn-small" type="button">>></button>
		</div>
		
		<div class="btn-group">
			<button id="more" class="btn btn-primary btn-small" type="button">+</button>
			<button id="less" class="btn btn-primary btn-small" type="button">-</button>
		</div>
		
		<div class="btn-group">
			<button id="insert" class="btn btn-success btn-small" type="button">Insert</button>
			<button id="modify" class="btn btn-warning btn-small" type="button">Modify</button>
			<button id="delete" class="btn btn-danger btn-small" type="button">Delete</button>
		</div>
		
		<button id="refresh" class="btn btn-info btn-small" type="button">Refresh</button>

		<div id="clientGPS"></div>
		<div id="sql"  class='alert alert-info'></div>
		<div id="result"></div>
	</body>
	<script type="text/javascript" src="<?php echo HOST;?>/view/js/jquery-1.10.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var totalPage = <?php echo $totalPage; ?>;
		var page = <?php echo $page; ?>;
		var i = 0;
		$(document).ready(function(){
			$("#result").hide();
			$("#sql").hide();
			
			var downloadUrl = "<?php echo HOST;?>/controller/getClientGPS.php?page=" + page;
			ajaxUpdate(downloadUrl, "#clientGPS");
			
			$("#next").click(function(){
				page++;
				if(page < totalPage) {
					downloadUrl = "<?php echo HOST;?>/controller/getClientGPS.php?page=" + page;
					ajaxUpdate(downloadUrl, "#clientGPS");
					$("#page").html((page+1) + "/" + totalPage);
				} else {
					page = totalPage - 1;
					$("#page").html(totalPage + "/" + totalPage);
				}
			});
			$("#pre").click(function(){
				page--;
				if(page >= 0) {
					downloadUrl = "<?php echo HOST;?>/controller/getClientGPS.php?page=" + page;
					ajaxUpdate(downloadUrl, "#clientGPS");
					$("#page").html((page+1) + "/" + totalPage);
				} else {
					page = 0;
					$("#page").html(1 + "/" + totalPage);
				}
			});
			$("#first").click(function(){
				downloadUrl = "<?php echo HOST;?>/controller/getClientGPS.php";
				ajaxUpdate(downloadUrl, "#clientGPS");
				$("#page").html(1 + "/" + totalPage);
				page = 0;
			});
			$("#last").click(function(){
				downloadUrl = "<?php echo HOST;?>/controller/getClientGPS.php?page=" + (totalPage-1);
				ajaxUpdate(downloadUrl, "#clientGPS");
				$("#page").html(totalPage + "/" + totalPage);
				page = totalPage - 1;
			});
			
			$("#more").click(function(){
				$(".table").append("<tr class='new'><td><input type='text' id='idClient" + i + "'></td><td><input type='text' id='lat" + i + "'></td><td><input type='text' id='lng" + i + "'></td><td></td><tr>");
				i++;
				$("#sql").hide();
			});
			$('#less').click(function(){
				$(".new").last().remove();
				if(i>=1)
					i--;
				$("#sql").hide();
			});
			
			$("#insert").click(function(){
				var j;
				var data = '[';
				var idClient;
				var lat;
				var lng;
				
				for(j = 0; j < i-1; j++) {
					idClient = $("#idClient"+ j).val();
					lat = $("#lat" + j).val();
					lng = $("#lng" + j).val();
					if(idClient != "undefined" && lat != undefined && lng != undefined)
						data += '{"idClient":"' + idClient + '","lat":"' + lat + '","lng":"' + lng + '"},';
				}
				idClient = $("#idClient"+ j).val();
				lat = $("#lat" + j).val();
				lng = $("#lng" + j).val();
				if(idClient != "undefined" && lat != undefined && lng != undefined)
					data += '{"idClient":"' + idClient + '","lat":"' + lat + '","lng":"' + lng + '"}';
				data += ']';
				
				//alert(data);
				downloadUrl = "<?php echo HOST;?>/controller/addClientGPS.php?data=" + data;
				// ajax
				ajaxUpdate(downloadUrl, "#result");
				$("#result").fadeIn();
				$("#sql").hide();
			});
			$("#modify").click(function(){
				$("#sql").html("update client_coordinate set lat = <input type='text' id='lat'> and lng = <input type='text' id='lng'> where idClient = <input type='text' id='idClient'><button id='submit' class='btn btn-success btn-small' type='button'>Submit</button>");
				$("#sql").fadeIn();
				$("#submit").click(function(){
					var lat = $("#lat").val();
					var lng = $("#lng").val();
					var idClient = $("#idClient").val();
					downloadUrl = "<?php echo HOST;?>/controller/request.php?cmd=update&client=" + idClient + "&lat=" + lat + "&lng=" + lng;
					ajaxUpdate(downloadUrl, "#result");
					$("#result").fadeIn();
				});
			});
			$("#delete").click(function(){
				$("#sql").html("delete from client_coordinate where idClient = <input type='text' id='idClient'><button id='submit' class='btn btn-success btn-small' type='button'>Submit</button>");
				$("#sql").fadeIn();
				$("#submit").click(function(){
					var idClient = $("#idClient").val();
					downloadUrl = "<?php echo HOST;?>/controller/request.php?cmd=delete&client=" + idClient;
					ajaxUpdate(downloadUrl, "#result");
					$("#result").fadeIn();
				});
			});
			
			$("#refresh").click(function(){
				window.location.href = "<?php echo HOST;?>/clientGPS.php?page=" + (page+1);
			});
			
			$("#more,#less,#refresh,#first,#pre,#next,#last,#modify,#delete").click(function(){
				$("#result").hide();
			});
		});
		
		function ajaxUpdate(downloadUrl, divID) {
			var xmlhttp;
			if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp = new XMLHttpRequest();
			} else {// code for IE6, IE5
				xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
			}
			xmlhttp.onreadystatechange = function() {
				if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
					$(divID).html(xmlhttp.responseText);
				}
			}
			xmlhttp.open("GET", downloadUrl, true);
			xmlhttp.send();
		}
	</script>
</html>