<!DOCTYPE html>
<html>
	<head>
		<title>SwingMap</title>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="icon" type="image/png" href="<?php echo HOST;?>/view/img/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="<?php echo HOST;?>/view/css/map.css"/>
		<link rel="stylesheet" media="screen" href="<?php echo HOST;?>/view/css/bootstrap.min.css">
		<link rel="stylesheet" media="screen" href="<?php echo HOST;?>/view/css/bootstrap-datetimepicker.min.css">
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEDxb7J_vARiE7CH8NAih35FXpPipQ0bA&sensor=false&libraries=visualization">
		</script>
		<script type="text/javascript" src="<?php echo HOST;?>/view/js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="<?php echo HOST;?>/view/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="<?php echo HOST;?>/view/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript" src="<?php echo HOST;?>/view/js/map.js"></script>
		<script type="text/javascript">
			google.maps.visualRefresh = true;
			var map;
			var map_id = "map_canvas";
			var map_zoom = 6;
			var map_center_lat = 48.583;
			var map_center_lng = 7.750;
			var styles = [
			{
				stylers: [
					{ hue: "#D9EDF7" },
					{ saturation: -20 }
				]
			},{ 
				"featureType": "road", 
				"stylers": [ 
					{ "visibility": "off" } 
				] 
			},{ 
				"featureType": "landscape.man_made", 
				"stylers": [ 
					{ "visibility": "off" } 
				] 
			},{ 
				"featureType": "landscape.natural.terrain", 
				"stylers": [ 
					{ "visibility": "off" }
				] 
			},{ 
				"featureType": "poi", 
				"stylers": [ 
					{ "visibility": "off" } 
				] 
			},{ 
				"featureType": "transit", 
				"stylers": [ 
					{ "visibility": "off" } 
				] 
			}
			];
			var geojson;
			var markersArray = [];
			var markerStyleOption;
			var infoWindow = new google.maps.InfoWindow;
			
			$(document).ready(function(){
				initialize();
				// ajax refresh markers
				$("#setMarkers").click(function(){
					var _device = $("#device").val();
					var _server = $("#server").val();
					var _interval = $("#interval").val();
					markerStyleOption = $("#markerStyleOption").val();
					map_zoom = map.getZoom();
					//alert(markerStyleOption);
					var xmlhttp;
					if (window.XMLHttpRequest)
					{// code for IE7+, Firefox, Chrome, Opera, Safari
						xmlhttp=new XMLHttpRequest();
					}
					else
					{// code for IE6, IE5
						xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
					}
					xmlhttp.onreadystatechange=function()
					{
						if (xmlhttp.readyState==4 && xmlhttp.status==200)
						{	
							clearOverlays();
							geojson = $.parseJSON(xmlhttp.responseText);
							setMarkers(geojson);
							// random show infoWindow
							if(geojson.features.length > 0) {
								infoWindow.open(map, markersArray[Math.floor((Math.random()*geojson.features.length))]);
							}
							$("#info").html("Total users: " + geojson.features.length);
							/*if(geojson.features.length > 0) {
								map_zoom = Math.floor((Math.random()*5)+3);
								map.setZoom(map_zoom);
							}*/ // auto zoom
						}
					}
					xmlhttp.open("GET","<?php echo HOST;?>/controller/geojson.php?device=" + _device + "&server=" + _server + "&interval=" + _interval,true);
					xmlhttp.send();
				});
				// auto refresh
				var intID;
				$("#play").click(function(){intID = play()});
				$("#pause").click(function(){clearInterval(intID)});
				$("#map_control").hide();
				$("#show_control").click(function(){
					$("#map_control").toggle("Blind");
				});
				$('#datetimepicker').datetimepicker({
					language: 'en'
				});
				$("#datetimepicker").hide();
				$("#backward").click(function(){
					$("#datetimepicker").toggle("Drop");
				});
			});
			function play() {
				intID = setInterval(function(){$("#setMarkers").click()},2000);
				return intID;
			}
		</script>
	</head>
	<body>
		<div id="show_control"><i class="icon-chevron-down"></i></div>
		<div id="map_control">
			<div id="info" class="alert alert-info">To see the result, set interval a big number or click <a href="<?php echo HOST;?>/simulator" target="_blank">here</a> to simulate datas, then click <i class="icon-map-marker"></i> or <i class="icon-play"></i></div>
			<div id="options">
				Device: 
				<select id="device">
					<option value="">all</option>
					<option value="ios">ios</option>
					<option value="android">android</option>
					<option value="wp">wp</option>
					<option value="server">server</option>
				</select>
				Server:
				<select id="server">
					<option value="">all</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
				</select>
				Marker Style:
				<select id="markerStyleOption">
					<option value="color">color pin</option>
					<option value="icon">png icon</option>
					<option value="svg">svg icon</option>
				</select>
				Interval: 
				<input class="input-mini" type="text" id="interval" value="60"><span class="help-inline">second</span>
			</div>
			<button class="btn" id="setMarkers" type="button"><i class="icon-map-marker"></i></button>
			<div class="btn-group">
				<button class="btn btn-info" id="backward" type="button"><i class="icon-backward"></i></button>
				<button class="btn btn-success" id="play" type="button"><i class="icon-play"></i></button>
				<button class="btn btn-warning" id="pause" type="button"><i class="icon-pause"></i></button>
			</div>
			<div id="datetimepicker" class="input-append">
				<input data-format="yyyy-MM-dd hh:mm:ss" type="text"></input>
				<span class="add-on">
					<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				</span>
			</div>
		</div>
		<div id="map_canvas"></div>
	</body>
</html>